:root {
    
    box-sizing: border-box;
    box-sizing: content-box;
    font-family: 'Roboto Mono', monospace;
}
* {
    
    box-sizing: inherit;
    margin: 0;
}
$color-tema: blue;
.m_dest {
    background-color: greenyellow;
    border: 0.8px black solid;
}
.col {
    display: inline-block;
               
}
.row,.thead {   
    display: flex;
    justify-content:space-around;
    align-items: center;         
    border-bottom: 1px black solid;
    padding: 0.2em 0;
}
.thead {
    font-weight: bold;
    color: midnightblue;
    font-size: 1.2em;
}
.col {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav {
    display: none;
}
input[type*="checkbox"]{
        display: none;
        & + label {
            margin-bottom: 5px;
            display: block;
            padding: 1em;
            background-color: $color-tema;
            color: white;
            font-weight: bold;
            font-size: 1.2em;
            text-align: center;
            border-radius: 10px;
            &:hover {
                cursor: pointer;
                border: 1px black solid;
                
            }
            &:active {
                background-color: opacity($color: #09053f);
            }
            
        }
    }
   
    input[type="radio"]{
        display: none;
        &:checked + label {
            background-color: yellowgreen;
            color: white;
            
        }
        & + label {
            padding: 0.2em;
            background-color: darkred;
            color: white;
            font-weight: bold;
            margin-top: 5px;
            border-radius: 5px;
            &:hover {
                cursor: pointer;
                border: 1px black solid;
                
            }
            &:active {
                transform: scale(.95);
            }
        }
    }
    button[type="submit"] {
        display: block;
        margin: auto;
        padding: 1em;
        background-color: greenyellow;
        color: black;
        font-weight: 800;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            
            
        }
        &:active {
            transform: scale(.95);
        }
    }
    input[type="submit"] {
        display: block;
        margin: auto;
        padding: 1em;
        background-color: greenyellow;
        color: black;
        font-weight: 800;
        &:hover {
            cursor: pointer;
            
            
        }
    }
    h3 {
        margin-bottom: 10px;
        margin-top: 10px;
        color: darkgoldenrod;
        font-weight: bold;
    }
    .t_gest {
        width: 70%;
        
        margin: auto;
    }
    .update_datos {
        display: none;
    }
    #resolver_inc,#info_usu,.crear_inc,.cambiar_clave {        
        display: none;        
    }
    .resolver_inc,.crea_gestor,.asignar_inc {
        display: none;
        margin-bottom: 50px;
        min-height: 70vh;
    }
    #resolver_inc:checked ~ .resolver_inc,#crea_gestor:checked ~ .crea_gestor,
    #asignar_inc:checked ~ .asignar_inc,#todas:checked ~ #info_usu,
    #crear_inc:checked ~ .crear_inc,#cambiar_clave:checked ~ .cambiar_clave,
    #cambiar_datos:checked ~ .update_datos {

        display: block;
    }
    
@media all and (max-width: 705px){
    
    header {
        & span {
            display: none;
        }
    }
    .thead {
        display: none;
    }
    
    .tbody {
        
        & .row {
            margin: .2em;
            border: none;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            background-color: white;
            padding: 0.5em;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                background: #e65c00;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #F9D423, #2311c5);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #F9D423, #0f13e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                filter: blur(10px);
                z-index: -1;
                width: 100%;
                height: 100%;
            }
            & .col {
                display: flex;
                flex-basis: 25%;
                
                font-weight: bolder;
                justify-content: center;
                align-items: center;              
                color: blue;
                padding-bottom: 0.2em;
                &:first-child {
                    color: darkred;
                    font-weight: bolder;
                    flex-basis: 100%;
                }
            }
        }
        
    }
    main {
        
        overflow-y: visible;
        & .asignar_inc {
            & .t_gest {
                width: 100%;
                & .tbody {
                    & .row {
                        & .col {
                            flex-basis: 25%;
                        }
                    }
                }
            }
        }
        
    }
    
}
@media all and (max-width: 450px){
    .update_datos {
        & div {
            flex-direction: column;
        }
        
        
    }
    .contenedor {
        
        & .contactos {
            width: 100%;
        }
        & .contenedor-chat {
            
            width: 98%;
            
            & .chat {
                width: 100%;
                padding: 0;
            }
        }
        & .texto-enviar {
            width: 100%;
        }
    }
    .nav-desk {
        
        display: none;
        
    }
    
    main {
        
        height: 85vh;
        overflow: scroll;
        & .asignar_inc {
            & .t_gest {
                width: 100%;
                & .tbody {
                    & .row {
                        & .col {
                            flex-basis: 30%;
                        }
                    }
                }
            }
        }
        & .crear_inc {
            & form > textarea {
                width: 100%;
            }
        }
        
    }
    
    #logo {
        
        display: block;
        color: $color-tema;           
        font-size: 2em;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-family: 'Carter One', cursive;
        background-color: darken($color: blue, $amount: 50);
        margin-bottom: 10px;
        border-radius: 10px;
        
    }
    .nav {
        display: block;
        position: fixed;
        top: 0;
        
        margin-bottom: 0;
        & nav {
            flex: 100%;
        }
    }
    
    
    
    
    .thead {
        display: none;
    }
    
    .tbody {
        
        & .row {
            margin: .2em;
            border: none;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding: 0.5em;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                background: #e65c00;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #F9D423, #2311c5);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #F9D423, #0f13e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                filter: blur(10px);
                z-index: -1;
                width: 100%;
                height: 100%;
            }
            & .col {
                display: flex;
                flex-basis: 40%;
                
                font-weight: bolder;
                justify-content: center;
                align-items: center;              
                color: blue;
                padding-bottom: 0.2em;
                &:first-child {
                    color: darkred;
                    font-weight: bolder;
                    flex-basis: 100%;
                }
            }
        }
        
    }
}

.e1 {
    display: inline-block;
    width: .5em;
    height: .5em;
    padding: 0.5em;
    
    border-radius: 50%;
    background-color:  #e29417;
}
hr {
    margin-top: 1em;
    margin-bottom: 1em;
}
.e2 {
    display: inline-block;
    width: .5em;
    height: .5em;
    padding: 0.5em;
    border-radius: 50%;
    background-color: rgb(17, 219, 10);
}

body {
    overflow-y: scroll;
    height: 100vh;
    
    & main {
        padding-top: .5em;
        margin: 50px auto 0 auto;
        margin-bottom: 15px;
        width: 90%;
        
        
    }
}

header {
    
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    padding: 0;
    
    & span {    
        color:  black;
        margin: auto;
        text-align: center;
        font-size: 1.2em;
        flex: 1;
        font-family: 'Poppins', sans-serif;
        font-family: 'Carter One', cursive;
        
    }
    & nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex: 4;
        
        & ul {
            
            display: flex;
            align-content: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 0;
            
            & li {
                margin: auto;
                justify-content: center;
                align-content: center;
                display: flex;
                width: 100%;
                height: 100%;
                padding: 0.5em 0;
                list-style: none;
                font-size: 1.5em;
                flex-basis: 25%;
                border: 2px solid cornsilk;
                border-radius: 5px;
                background-color: blue;
                position: relative;
                    &:before {
                        content: "";
                        display: block;
                        width: 0%;
                        height: 5px;
                        background: rgb(255, 157, 0);
                        position: absolute;
                        left: 0;
                        bottom: -3px;
                        transition: all .3s;
                    }
                    &:hover:before {
                        width: 100%;
                    }
                & a {
                    
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-content: center;
                    display: flex;
                    text-decoration: none;
                    font-family: 'Poppins', sans-serif;
                    color: cornsilk;
                    
                }
    
            }
        }
    }
    
}
#logo {
    color: white;
}

//Mensajes

.contenedor {
    height: 75vh;
    border-radius: 10px;
    background-color: lightseagreen;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .contactos {
        
        min-width: 50%;
        min-height: 60px;       
        margin: 0 auto;
        & ul {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 0;
            & li {
                background-color: lightyellow;
                margin: 0;
                padding: 0;
                list-style: none;
                border-radius: 10px;
                border: 2px black solid;
                
                & a {
                    margin: 0 20% 0 15%;
                    padding: .5em;
                    text-decoration: none;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;                  
                    height: 100%;                   
                    list-style: none;
                    font-size: 1.5em;                    
                    border-right: 1px solid cornsilk;
                    & i {
                        color: black;
                        font-size: 1.2em;
                        height: 100%;
                    }
                }
    
            }
        }
        
    }
    & .contenedor-chat {
        background-color: blanchedalmond;
        border: 3px solid black;
        margin: 1px auto;
        min-width: 70%;
        max-width: 100%;
        min-height: 50vh;    
        
        overflow-y: scroll;
        & > .chat {
            display: flex;
            flex-direction: column;
            padding: 1em 0;
            margin: auto;
            
            & > .m_rem {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                padding: 1em;
                border-radius: 10px;
                border-color: 1px black solid;
                
                height: auto;
                max-width: 100%;
                & span {
                    max-width: 50%;
                    height: auto;
                    word-wrap: break-word;
                }
            }
            & > .m_dest {
                display: flex;                
                justify-content: space-between;
                padding: 1em;
                border-radius: 10px;
                border: 1px black solid;
                height: auto;
                max-width: 100%;
                & span {
                    max-width: 50%;
                    height: auto;
                    word-wrap: break-word;
                }
            }
        }
    }
    & .texto-enviar {
        min-width: 50%;
        margin-top: 3px;
        display: flex;
        
        & textarea {
            flex-basis: 90%;
            font-size: 1.4em;
            background-color: black;
            color: white;
            border: 2px white solid;
            border-radius: 10px;
            padding: 0;
        }
        & > button {
            flex-basis: 10%;
            
        }
    }
    
}
.crear_inc {
    & form > textarea {
        height: 20vh;
        display: inline-block;
        margin: 5px;
        width: 50%;
    }
    & input {
        margin: 8px 0;
    }
    & input[type="submit"] {
        margin: auto;
    }
}
textarea {
    font-family: 'Poppins', sans-serif;
}
.ordenar {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & > span {
        padding-right: 0.5em;
        padding-left: 0.5em;
    }
    
}
.cambiar_clave {
    padding: 0.5em;
    & form div {        
        padding: 0.5em 0em;
    }
}
.update_datos {
    & div {
        display: flex;
    justify-content: center;
    padding: 0.5em 0.2em;
    & div {
        padding: 0 0.5em;
        & button {
            display: inline-block;
        }
    }
    }
    
    
}
.mensaje {
    padding: 0.5em;
    display: block;
    background-color: coral;
    font-size: 1.2em;
    text-align: center;
    color: cornsilk;
    
}
.info_user {
    margin-bottom: 1em;
    padding: 0.5em 0;
    display: flex;
    justify-content: center;   
    
}
#acceso {
    
    padding: 0;
    margin: 0;
    & header {
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        font-family: 'Carter One', cursive;
        font-size: 3em;
        color: white;
        
    }
    & form > table {
        margin: auto;
    }
    & .mensaje {
        font-size: 1em;
        padding: 0;
    }
}
#registrar {
    
    & form > table {
        margin: auto;
    }
    & h2 {
        text-align: center;
    }
}
#log {
    margin: 0;
    background-color: blue;
    color: white;
    font-size: 1.2em;
    padding: 0;
    height: 100vh;
    & main {
        margin: 0 auto;
    }
}
.p2 {
   background-color: red;
   color: seashell;
   border-radius: 3px;
}
.p1 {
    border-radius: 3px;
    background-color: yellow;
    padding: 0 .1em;
}